/*-----------------------------------------
    Variables
-----------------------------------------*/

// Color
$c-txt: #000;
$c-txt-en: #168352;

$c-bg: #fff;

$c-link-hamburger: #fff;
$c-bg-hamburger: #168352;

$c-bg-about-us: #deddda;

$c-bg-features : #f3f9f6;
$c-bg-features-section: #fff;

$c-bg-products-service: #168352;
$c-bg-products-service-hover: #dffaec;
$c-link-products-service: #fff;
$c-link-products-service-hover: #168352;

$c-bg-case: #dffaec;
$c-link-case-section: #09947b;

$c-txt-news-date: #222222;
$c-bg-news-tag: #473221;
$c-txt-news-tag: #fff;
$c-link-news: #09947b;

$c-btn-news: #09947b;
$c-btn-news-shadow: #066655;

$c-bg-footer: #168352;
$c-link-footer: #fff;

$c-link-header: #000;
$c-link-header-current-page: #168352;

$c-bar-price-spec-section: #168352;
$c-txt-price-spec-section-gray: #ddd;

$c-dot-price-spec-gallery-active: #168352;
$c-dot-price-spec-gallery: #eee;

$c-bg-table-term: #f5f5f5;
$c-bg-table-description: #fff;

$c-btn-contact-border: #fff;
$c-btn-contact-link: #fff;
$c-btn-contact-bg-hover: #fff;
$c-btn-contact-link-hover: #168352;

$c-border-faq: #ccc;
$c-txt-faq-q: #168352;
$c-border-faq-tag: #168352;
$c-txt-faq-tag: #168352;

// Opacity
$opacity-btn-case-hover: 0.5;
$opacity: 0.8;