/*-----------------------------------------
    Cover Sub Page
-----------------------------------------*/
@use "../../global/" as g;
@use "../common" as *;
@use "../font" as *;
@use "../functions" as *;


.cover-sub-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: vw(63);
    padding: vw(20) vw(16) 0;

    @include g.mq(md) {
        margin-top: mvw(114);
        padding: mvw(40) calc((100% - mvw($pc_content_width))/2) 0;
    }
}

.cover-sub-page__inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    row-gap: vw(18);

    @include g.mq(md) {
        row-gap: 0;
    }
}

.cover-sub-page__image {
    display: none;

    @include g.mq(sp_max) {
        display: block;
        width: vw(358);
        height: vw(230);
        border-radius: vw(24);
    }
}

.cover-sub-page__content {
    background-image: none;

    @include g.mq(md) {
        position: relative;
        background-size: cover;
        background-position: center;
        width: mvw(1200);
        height: mvw(550);
        border-radius: mvw(24);
    }

    &--faq {
        @extend .cover-sub-page__content;

        @include g.mq(md) {
            background-image: url('/../assets/image/faq/cover/cover_pc_01.png');
        }
    }

    &--products {
        @extend .cover-sub-page__content;

        @include g.mq(md) {
            background-image: url('/../assets/image/products_service/cover/cover_pc_01.png');
        }
    }
}

.cover-sub-page__heading {
    position: relative;

    @include g.mq(md) {
        position: absolute;
        bottom: mvw(-1);
        left: mvw(-1);
        height: mvw(114);
        background-color: g.$c-bg;
        border-radius: 0 mvw(40) 0 0;
        padding: mvw(23) mvw(34.5) mvw(40) mvw(40);

        &--faq {
            padding-right: mvw(32);
        }
    }
}

.cover-sub-page__title {
    @include baseFont($bold);
    font-size: vw(30);
    color: g.$c-txt;

    @include g.mq(md) {
        font-size: mvw(36);
        letter-spacing: 0.015em;
    }
}

.breadcrumb__list {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    vertical-align: bottom;
    margin: vw(3) vw(-2) 0 0;

    @include g.mq(md) {
        margin: mvw(6) mvw(18) 0 0;
    }
}

.breadcrumb__item:not(:last-child)::after {
    display: inline-block;
    margin: vw(8);
    content: url('/../assets/image/common/arrow_01.png');

    @include g.mq(md) {
        margin: mvw(8);
    }
}

.breadcrumb__link {
    @include baseFont;
    font-size: vw(12);
    color: g.$c-txt;

    @include g.mq(md) {
        font-size: mvw(12);
    }

    &:hover {
        opacity: g.$opacity;
    }
}