/*-----------------------------------------
    faq
-----------------------------------------*/
@use "../../global/" as g;
@use "../common" as *;
@use "../font" as *;
@use "../functions" as *;

.faq {
    height: auto;
    padding: vw(26) vw(16) vw(168.5);

    @include g.mq(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: mvw(48) 0 mvw(71.5);
    }
}

.faq__list {
    display: flex;
    flex-direction: column;
    width: vw(358);
    margin: 0 auto;
    row-gap: vw(21);

    @include g.mq(md) {
        width: mvw(800);
        row-gap: mvw(23.5);
    }
}

.faq__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: vw(24);
    border: g.$c-border-faq vw(1) solid;
    border-radius: vw(16);

    @include g.mq(md) {
        column-gap: mvw(24);
        border-width: mvw(1);
        border-radius: mvw(16);
    }
}

.faq__item:has(.faq__item-question.open) {
    margin-bottom: vw(4);

    @include g.mq(md) {
        margin-bottom: 0;
    }
}

.faq__item-question {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: vw(16);
    cursor: pointer;
    padding: vw(22) vw(23) vw(17);

    @include g.mq(md) {
        column-gap: mvw(15);
        padding: mvw(23) mvw(32) mvw(16) mvw(31);
    }

    &--middle {
        @extend .faq__item-question;
        padding-top: vw(23);

        @include g.mq(md) {
            padding-top: mvw(23);
        }
    }

    &--large {
        @extend .faq__item-question;
        padding-top: vw(23);

        @include g.mq(md) {
            padding-top: mvw(24);
        }
    }
}

.question__mark {
    @include alphabetFont($bold);
    font-size: vw(24);
    color: g.$c-txt-faq-q;
    line-height: 0.6;
    padding-top: vw(4);

    @include g.mq(md) {
        font-size: mvw(24);
        padding-top: mvw(2);
    }
}

.question__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: vw(234);

    @include g.mq(md) {
        row-gap: mvw(9);
        width: mvw(660);
    }

    &--narrow {
        @extend .question__content;

        @include g.mq(md) {
            row-gap: mvw(7);
        }
    }
}

.question__badges {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: vw(8);

    @include g.mq(md) {
        column-gap: mvw(8);
    }
}

.question__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(100);
    height: vw(24);
    padding: vw(6) 0;
    color: g.$c-txt-faq-tag;
    border: g.$c-border-faq-tag vw(1) solid;
    border-radius: vw(4);

    @include g.mq(md) {
        width: mvw(100);
        height: mvw(24);
        padding: mvw(6) 0;
        border-width: mvw(1);
        border-radius: mvw(4);
    }
}

.question__badge-text {
    @include baseFont;
    font-size: vw(11);
    text-align: center;

    @include g.mq(md) {
        font-size: mvw(11);
    }
}

.question__text {
    @include baseFont($bold);
    font-size: vw(16);

    @include g.mq(md) {
        font-size: mvw(18);
    }
}

.question__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(18);
    height: vw(24);

    @include g.mq(md) {
        width: mvw(18);
        height: mvw(24);
    }

    &::after {
        content: '';
        display: block;
        width: vw(24);
        height: vw(24);
        background-image: url('/assets/image/faq/faq/icon_plus_01.svg');
        background-size: cover;
        background-position: center;

        @include g.mq(md) {
            width: mvw(24);
            height: mvw(24);
        }
    }
}

.faq__item-question.open .question__button::after {
    background-image: url('/assets/image/faq/faq/icon_minus_01.svg');

    @include g.mq(md) {
        background-image: url('/assets/image/faq/faq/icon_minus_01.svg');
        margin-top: mvw(4);
    }
}

.faq__item-answer {
    display: none;
    margin-top: vw(-15);
    padding: 0 vw(23) vw(17);

    @include g.mq(md) {
        margin-top: mvw(-1);
        padding: 0 mvw(32) mvw(19) mvw(31);
    }

    &--middle {
        @extend .faq__item-answer;
        margin-top: vw(-16);
        padding-left: vw(26);

        @include g.mq(md) {
            margin-top: mvw(-1);
            padding-left: mvw(32);
        }
    }

    &--small {
        @extend .faq__item-answer;
        margin-top: vw(-18);
        padding-left: vw(26);
        padding-bottom: vw(17);

        @include g.mq(md) {
            margin-top: mvw(-1);
            padding: 0 mvw(32) mvw(20) mvw(31);
        }
    }

    &--bottom {
        @extend .faq__item-answer;
        padding-left: vw(26);

        @include g.mq(md) {
            margin-top: mvw(-1);
            padding: 0 mvw(32) mvw(19) mvw(31);
        }
    }

    &--large {
        @extend .faq__item-answer;
        padding-left: vw(26);
        padding-right: vw(17);

        @include g.mq(md) {
            padding: mvw(1) mvw(32) mvw(18) mvw(31);
        }
    }

    &--huge {
        @extend .faq__item-answer;
        margin-top: vw(-7);
        padding-left: vw(26);
        padding-right: vw(17);

        @include g.mq(md) {
            margin-top: 0;
            padding: mvw(2) mvw(32) mvw(18) mvw(31);
        }
    }
}

.faq__item-answer-text {
    @include baseFont;
    font-size: vw(16);

    @include g.mq(md) {
        font-size: mvw(16);
    }
}