/*-----------------------------------------
    faq
-----------------------------------------*/
@use "../../global/" as g;
@use "../common" as *;
@use "../font" as *;
@use "../functions" as *;

.faq {
    height: auto;
    padding: vw(26) vw(16) vw(168.5);

    @include g.mq(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: mvw(48) 0 mvw(71.5);
    }
}

.faq__list {
    display: flex;
    flex-direction: column;
    width: vw(358);
    margin: 0 auto;
    row-gap: vw(22);

    @include g.mq(md) {
        width: mvw(800);
        row-gap: mvw(23);
    }
}

.faq__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: vw(24);
    border: g.$c-border-faq vw(1) solid;
    border-radius: vw(16);
    padding: vw(22) vw(23) vw(16);

    @include g.mq(md) {
        column-gap: mvw(24);
        border-width: mvw(1);
        border-radius: mvw(16);
        padding: mvw(20) mvw(32) mvw(18) mvw(31);
    }

    &--large {
        @extend .faq__item;
        padding-top: vw(24);

        @include g.mq(md) {
            padding-top: mvw(18);
        }
    }
}

.faq__item:has(.faq__item-question.open) {
    margin-bottom: vw(3);

    @include g.mq(md) {
        margin-bottom: 0;
    }
}

.faq__item-question {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: vw(16);
    padding-top: vw(4);
    cursor: pointer;

    @include g.mq(md) {
        column-gap: mvw(14);
        padding-top: mvw(5);
    }
}

.question__mark {
    @include alphabetFont($bold);
    font-size: vw(24);
    color: g.$c-txt-faq-q;
    line-height: 0.6;

    @include g.mq(md) {
        font-size: mvw(24);
    }
}

.question__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: vw(234);

    @include g.mq(md) {
        row-gap: mvw(10);
        width: mvw(660);
        padding-top: mvw(10);
    }
}

.question__badges {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: vw(8);
    margin-top: vw(-4);

    @include g.mq(md) {
        column-gap: mvw(8);
    }
}

.question__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(100);
    height: vw(24);
    padding: vw(6) 0;
    color: g.$c-txt-faq-tag;
    border: g.$c-border-faq-tag vw(1) solid;
    border-radius: vw(4);

    @include g.mq(md) {
        width: mvw(100);
        height: mvw(24);
        padding: mvw(6) 0;
        border-width: mvw(1);
        border-radius: mvw(4);
    }
}

.question__badge-text {
    @include baseFont;
    font-size: vw(11);
    text-align: center;

    @include g.mq(md) {
        font-size: mvw(11);
    }
}

.question__text {
    @include baseFont($bold);
    font-size: vw(16);

    @include g.mq(md) {
        font-size: mvw(18);
    }
}

.question__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(19);
    height: vw(19);

    @include g.mq(md) {
        width: mvw(19);
        height: mvw(19);
    }

    &::after {
        content: '';
        display: block;
        width: vw(19);
        height: vw(19);
        background-image: url('/assets/image/faq/faq/icon_plus_01.png');
        background-size: cover;
        background-position: center;

        @include g.mq(md) {
            width: mvw(19);
            height: mvw(19);
            margin-top: mvw(7);
        }
    }
}

.faq__item-question.open .question__button::after {
    background-image: url('/assets/image/faq/faq/icon_minus_01.png');
}

.faq__item-answer {
    display: none;
    padding: vw(3) 0 0 vw(1);

    @include g.mq(md) {
        padding: mvw(18) 0 0 0;
    }

    &--middle {
        @extend .faq__item-answer;
        padding-left: vw(3);

        @include g.mq(md) {
            padding-left: mvw(1);
        }
    }

    &--small {
        @extend .faq__item-answer;
        padding-top: 0;
        padding-left: vw(3);

        @include g.mq(md) {
            padding-top: mvw(17);
            padding-left: mvw(1);
        }
    }

    &--bottom {
        @extend .faq__item-answer;
        padding-top: vw(1);
        padding-left: vw(3);

        @include g.mq(md) {
            padding-top: mvw(20);
            padding-left: mvw(1);
        }
    }

    &--large {
        @extend .faq__item-answer;
        padding-top: vw(10);
        padding-left: vw(3);

        @include g.mq(md) {
            padding-top: mvw(17);
            padding-left: 0;
        }
    }
}

.faq__item-answer-text {
    @include baseFont;
    font-size: vw(16);

    @include g.mq(md) {
        font-size: mvw(16);
    }
}