/*-----------------------------------------
    Footer
-----------------------------------------*/
@use "../../global/" as g;
@use "../common" as *;
@use "../font" as *;
@use "../functions" as *;

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: vw(68);
    padding: vw(24) vw(28);
    background-color: g.$c-bg-footer;

    @include g.mq(md) {
        height: mvw(96);
        padding: mvw(36) 0;
    }
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: vw(216);
    margin: vw(-4) auto 0;

    @include g.mq(md) {
        width: mvw(278);
        margin: mvw(-3) auto 0;
    }
}

.footer__link {
    @include baseFont;
    font-size: vw(13);
    color: g.$c-link-footer;

    @include g.mq(md) {
        font-size: mvw(15);
        margin-left: mvw(18);
    }

    &--small {
        @extend .footer__link;
        margin-left: vw(15);

        @include g.mq(md) {
            font-size: mvw(14);
            margin-left: mvw(19);
        }
    }

    &:hover {
        opacity: g.$opacity;
    }
}

.footer__separator {
    width: vw(1);
    height: vw(20);
    background-color: g.$c-link-footer;
    display: inline-block;
    margin-left: vw(18);

    @include g.mq(md) {
        width: mvw(1);
        height: mvw(22);
        margin-left: mvw(21);
    }
}