/*-----------------------------------------
    products-price
-----------------------------------------*/
@use "../../global/" as g;
@use "../common" as *;
@use "../font" as *;
@use "../functions" as *;

.products-price {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: vw(8.5);
    padding: vw(48.5) vw(16) 0;

    @include g.mq(md) {
        align-items: center;
        row-gap: mvw(16);
        padding: mvw(13.5) mvw(36) 0;
    }
}

.products-price__inner {
    display: flex;
    justify-content: flex-start;

    @include g.mq(md) {
        width: mvw(800);
        align-items: center;
    }
}

.products-price__amount {
    @include alphabetFont($bold);
    font-size: vw(32);
    color: g.$c-txt;

    @include g.mq(md) {
        font-size: mvw(32);
    }

    &--small {
        @include baseFont($bold);
        font-size: vw(16);

        @include g.mq(md) {
            font-size: mvw(16);
        }
    }
}