/*-----------------------------------------
    Products Service
-----------------------------------------*/
@use "../../global/" as g;
@use "../common" as *;
@use "../font" as *;
@use "../functions" as *;

.products-service {
    background-color: g.$c-bg;
    padding: vw(56) vw(16);

    @include g.mq(md) {
        padding: mvw(64) mvw(70);
    }
}

.products-service__title {
    display: flex;
}

.products-service__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: vw(20);

    @include g.mq(md) {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: mvw(40);
        column-gap: mvw(50);
    }
}

.products-service__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: vw(17);
    width: vw(358);
    height: vw(140);
    background-color: g.$c-bg-products-service;
    border-radius: vw(24);
    color: g.$c-link-products-service;
    padding: vw(20) vw(24);

    @include g.mq(md) {
        column-gap: mvw(20);
        width: mvw(333);
        height: mvw(150);
        border-radius: mvw(24);
        padding: mvw(20) mvw(24);
    }

    &:hover {
        background-color: g.$c-bg-products-service-hover;
        color: g.$c-link-products-service-hover;
    }

    &--large {
        @extend .products-service__item;

        @include g.mq(md) {
            column-gap: mvw(31);
            width: mvw(525);
            height: mvw(180);
            border-radius: mvw(24);
            padding: mvw(24) mvw(32);
        }
    }
}

.products-service__image {
    width: vw(100);
    height: vw(100);
    border-radius: vw(50);

    @include g.mq(md) {
        width: mvw(110);
        height: mvw(110);
        border-radius: mvw(55.5);
    }

    &--large {
        @extend .products-service__image;

        @include g.mq(md) {
            width: mvw(133);
            height: mvw(133);
            border-radius: mvw(66.5);
        }
    }
}

.products-service__name {
    @include baseFont($bold);
    font-size: vw(18);
    text-align: left;

    @include g.mq(md) {
        font-size: mvw(20);
    }

    &--large {
        @extend .products-service__name;

        @include g.mq(md) {
            font-size: mvw(24);
        }
    }
}